<ng-container *ngIf="project">
    <div id="project-name-header-div">
        {{ project.name }}
        <div id="project-buttons-div">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProjectModal">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteProjectModal">Delete</button>
            </div>
        </div>
    </div>
    
    <div id="project-description-div">
        <div id="project-short-description-div">
            <p><strong>Short Description:</strong></p>
            <p>{{ project.shortDescription }}</p>
        </div>
        <div id="project-long-description-div">
            <p><strong>Long Description:</strong></p>
            <p>{{ project.longDescription }}</p>
        </div>
    </div>

    <div id="project-component-list-div">
        <strong>Components</strong>
        <ng-container *ngFor="let component of project.components">
            {{ component.name }}
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="!project">
    <div id="no-project-div">
        Please select an existing project!
    </div>
</ng-container>
<app-edit-project [project]="project"></app-edit-project>
<div>
        <div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-header-div">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Project</h5>
                            <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close" id="close-button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                
                
                            <form>
                                <div class="form-group">
                                        <label for="projectName">Are you sure?</label>
                                </div>
                                <button type="button" (click)="deleteProject()" id="delete-project-button" class="btn btn-primary">Delete</button>
                            </form>
                
                
                        </div>
                    </div>
                </div>
            </div>
</div>
