/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Helvetica&display=swap');

$primary: rgb(111, 0, 225);

body {
    margin: 0;
    font-family: 'Helvetica';
    font-size: 18px;
    height: 100vh;
    overflow-y: auto;
}

#nav-div {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;
    height: 7vh;

    a {
        color: white;
        text-decoration: none;
    }

    a.logo {
        font-weight: bold;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                // padding: 1em; 

                &:hover {
                    background: darken($primary, 10%);
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
