<header>
  <div id="nav-div">
    <a href="#" class="logo">TestingManager</a>
    <nav>
      <ul>
        <li><a href="#" (click)="changeSelectedView('USERS_GUIDE')">User's Guide</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="content-container-div">
  <div id="project-list-div">
      <div id="project-list-header-div">
        <p>Project List</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewProjectModal">Add New Project</button>
      </div>
      <div id="project-list-list-div" *ngIf="projects">
        <app-project-list
          [projects] = "projects"
        ></app-project-list>
      </div>
    </div>
    
    <div id="details-page-div">
      <div class="details-inner-div">
          <ng-container *ngIf="selectedView == 'PROJECT_DETAILS'">
            <app-project-details [project]="selectedProject"></app-project-details>
          </ng-container>
          <ng-container *ngIf="selectedView == 'USERS_GUIDE'">
            User's Guide Page
          </ng-container>
          <ng-container *ngIf="selectedView == 'COMPONENT_DETAILS'">
            <app-component-details [component]="selectedComponent"></app-component-details>
          </ng-container>
          <ng-container *ngIf="selectedView == 'CASE_DETAILS'">
            <app-case-details [testCase]="selectedCase"></app-case-details>
          </ng-container>
          <ng-container *ngIf="selectedView == 'STEP_DETAILS'">
            <app-step-details [step]="selectedStep"></app-step-details>
          </ng-container>
          <ng-container *ngIf="selectedView == 'RUN_TEST'">
            <app-component-test [component]="componentForTest"></app-component-test>
          </ng-container>
          <ng-container *ngIf="selectedView == 'SELECT_PROJECT'">
            <div id="no-project-div">
              Please select an existing project from the <strong>Project List</strong> or create a new one with the <strong>Add New Project</strong> button!
            </div>
          </ng-container>
      </div>
    </div>
</div>
<app-add-project></app-add-project>


