<header>
  <div id="nav-div">
    <a href="#" class="logo">TestingManager</a>
    <nav>
      <ul>
        <li><a href="#" (click)="changeSelectedView('USERS_GUIDE')">User's Guide</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="content-container-div">
  <div id="project-list-div">
      <div id="project-list-header-div">
        <p>Project List</p>
        <button>Add New Project</button>
      </div>
      <div id="project-list-list-div" *ngIf="projects">
        <app-project-list
          [projects] = "projects"
        ></app-project-list>
      </div>
    </div>
    
    <div id="details-page-div">
      <ng-container *ngIf="selectedView == 'PROJECT_DETAILS'">
        Project Details
      </ng-container>
      <ng-container *ngIf="selectedView == 'USERS_GUIDE'">
        User's Guide Page
      </ng-container>
      <ng-container *ngIf="selectedView == 'COMPONENT_DETAILS'">
        COMPONENT_DETAILS Page
      </ng-container>
      <ng-container *ngIf="selectedView == 'CASE_DETAILS'">
        CASE_DETAILS Page
      </ng-container>
      <ng-container *ngIf="selectedView == 'RUN_TEST'">
        RUN_TEST Page
      </ng-container>
    </div>
</div>


