$primary: rgb(111, 0, 225);

#content-container-div {
    width: 100%;
    display: flex;
    height: 93vh;
    overflow-y: auto;
}

#project-list-div {
    flex: 0 0 25%;
    border: 3px solid lightgray;
    padding: 1em;
    overflow-y: auto;
}

#details-page-div {
    flex: 1;
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
    border-right: 3px solid lightgray;
    padding: 1em;
    overflow-y: auto;

    .details-inner-div {
        border: 3px solid lightgray;
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }
}

#project-list-header-div {
    p {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    button {
        /*background-color: $primary;
        color: white;
        width: 50%;
        margin-left: 25%;
        height: 20%;*/
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        width: 50%;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        background-color: $primary;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        margin-left: 25%;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: white;
            color: $primary;
            border: 0.1em solid $primary;
        }

    }
}

#project-list-list-div {
    padding: 1em;
    height: 78%;
    overflow: auto;
}
