$primary: rgb(111, 0, 225);

#create-component-button {
    display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        width: 50%;
        border-radius: 5px;
        box-sizing: border-box;
        text-decoration: none;
        background-color: $primary;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        margin-left: 25%;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: white;
            color: $primary;
            border: 0.1em solid $primary;
        }
}

#modal-header-div {
    background: $primary;
    color: white;
}

#close-button {
    color: white;
}