<ng-container *ngIf="step && parentCaseInstance">
    <div id="step-list-element-div">
        <div id="step-list-element-order-number-div">{{ step.orderNumber }}</div>
        <div id="step-list-element-description-div">{{ step.description }}</div>
        <div id="step-list-element-expected-result-div">{{ step.expectedResult }}</div>
                <div id="step-list-element-status-container-div">
                    <div class="step-list-element-status-div" (click)="setStepInstanceStatus('OK')" [ngStyle]="isStepDone ? {'cursor': 'no-drop'} : {'cursor': 'pointer'}">OK</div>
                    <div class="step-list-element-status-div" (click)="setStepInstanceStatus('NOK')" [ngStyle]="isStepDone ? {'cursor': 'no-drop'} : {'cursor': 'pointer'}">NOK</div>
                    <div class="step-list-element-status-div" (click)="setStepInstanceStatus('ERR')" [ngStyle]="isStepDone ? {'cursor': 'no-drop'} : {'cursor': 'pointer'}">ERR</div>
                </div>
        
        <div id="is-step-finished-checkbox">
            <input type="checkbox" (change)="changeCheckbox($event)" [disabled]="isStepDone"required>
        </div>
        <div id="#step-comment">
            <textarea type="text" [(ngModel)]="stepComment" placeholder="comment"></textarea>
        </div>
    </div>
</ng-container>
