#step-list-element-div {
    width: 100%;
    border: 1px solid white;
    height: 10vh;
    border-radius: 3px;

    #step-list-element-order-number-div {
        width: 5%;
        float: left;
        border-right: 1px solid white;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;
    }

    #step-list-element-description-div {
        width: 20%;
        float: left;
        border-right: 1px solid white;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }

    #step-list-element-expected-result-div {
        width: 20%;
        float: left;
        border-right: 1px solid white;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
    }

    #step-list-element-status-container-div {
        width: 25%;
        float: left;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;

        .step-list-element-status-div {
            width: 33.3%;
            float: left;
            height: 100%;
            line-height: 10vh;
            text-align: center;
            vertical-align: center;
            border-right: 1px solid white;

            &:hover {
                background-color: white;
                color: mediumpurple;
            }
        }
    }

    #is-step-finished-checkbox {
        width: 5%;
        float: right;
        border-left: 1px solid white;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;

        input {
            height: 50%;
            width: 50%;
            vertical-align: center;
        }
    }

    #step-comment {
        width: 24%;
        float: left;
        border-right: 1px solid white;
        height: 100%;
        line-height: 10vh;
        text-align: center;
        vertical-align: middle;
        padding: 1em;

        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            font-size: 12px;
        }
    }
}