$primary: rgb(111, 0, 225);

#component-name-header-div {
    font-size: 24px;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    background-color: lighten($primary, 50%);
    height: 13%;
}

#component-buttons-div {
    float: right;

    button {
        width: 100px;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        background-color: $primary;
        font-weight: 500;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: white;
            color: $primary;
            border: 0.1em solid $primary;
        }
    }
}

#component-instance-list {
    padding: 1em;
    height: 87%;
    overflow-y: auto;
}