#project-list-container-div {
    border: 2px solid lightgrey;
    border-radius: 10px;
    height: 99%;
    overflow: auto;
}

#project-list-element-div {
    border-bottom: 1px solid lightgray;
    padding: 15px;

    &:hover {
        background: lightgray;
        cursor: pointer;
    }
}