#project-list-container-div {
    border: 3px solid lightgray;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
    width: 100%;
}

p {
    padding: 1em;
    text-align: center;
    width: 100%;
}
