$primary: rgb(111, 0, 225);

#project-list-element-div {
    border-bottom: 1px solid lightgray;
    padding: 15px;

    &:hover {
        background: lighten($primary, 50%);
        cursor: pointer;
    }
}