<ng-container *ngIf="testCase">
    <div id="case-name-header-div">
        {{ testCase.name }}
        <div id="case-buttons-div">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCaseModal">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteCaseModal">Delete</button>
            </div>
        </div>
    </div>

    <div id="case-description-div">
        <div id="case-inner-description-div">
            <p><strong>Description:</strong></p>
            <p>{{ testCase.description }}</p>
        </div>
    </div>

    <div id="case-step-list-div">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewCaseModal">Add New Step</button>
        <p><strong>Steps</strong></p>
        <ng-container *ngIf="testCase.steps.length > 0">
            <ng-container *ngFor="let step of testCase.steps">
                <app-step-list-element [step]="step"></app-step-list-element>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="testCase.steps.length == 0">
                <p><strong>This case does not have steps yet</strong></p>
        </ng-container>
    </div>
</ng-container>
<app-edit-case [testCase]="testCase"></app-edit-case>
<ng-container *ngIf="!testCase">
    <div id="no-project-div">
        Please select an existing project!
    </div>
</ng-container>
<div>
    <div class="modal fade" id="deleteCaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="modal-header-div">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Case</h5>
                        <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close" id="close-button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
            
            
                        <form>
                            <div class="form-group">
                                    <label for="caseName">Are you sure?</label>
                            </div>
                            <button type="button" (click)="deleteCase()" id="delete-component-button" class="btn btn-primary">Delete</button>
                        </form>
            
            
                    </div>
                </div>
            </div>
        </div>
</div>
