<ng-container *ngIf="component">
   <div id="component-name-header-div">
        {{ component.name }}
    </div>
    <div id="case-container-div">
        <div id="case-container-inner-div">
            <mat-horizontal-stepper linear style="color: black; background-color: white;">
                <mat-step *ngFor="let case of component.testCases; index as i" label="Testcase" style="color: black; background-color: white;">
                    <app-case-test [testCase]="case" [index]="i" [numberOfCases]="component.testCases.length"></app-case-test>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</ng-container>
