$primary: rgb(111, 0, 225);

#component-element {
    width: 100%;
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 3px;

    &:hover {
        background: lighten($primary, 50%);
        cursor: pointer;
    }
}