<ng-container *ngIf="testCase && parentComponentInstance">
    <div id="case-desc-container-div">
        <div id="case-name-div">
            <p><strong>Name:</strong></p>
            <p>{{ testCase.name }}</p>
        </div>
        <div id="case-description-div">
            <p><strong>Description:</strong></p>
            <p>{{ testCase.description }}</p>
        </div>
    </div>
    <div id="step-list-container">
        <p><strong>Step List</strong></p>
        <ng-container *ngIf="testCase.steps.length > 0">
            <ng-container *ngFor="let step of testCase.steps">
                <app-step-test [step]="step"></app-step-test>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="testCase.steps.length == 0">
            <p><strong>There are no steps in this testcase!</strong></p>
        </ng-container>
    </div>
    <button type="button" mat-button matStepperNext (click)="createAndCloseCaseInstance()">Next</button>
</ng-container>
