<ng-container *ngIf="step">
    <div id="step-name-header-div">
        <strong>Step's order number: {{ step.orderNumber }}</strong> - Step
        <div id="step-buttons-div">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="backToParent()">Back</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStepModal">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteStepModal">Delete</button>
            </div>
        </div>
    </div>

    <div id="step-description-container-div">
        <div id="step-description-div">
            <p><strong>Description:</strong></p>
            <p>{{ step.description }}</p>
        </div>
        <div id="step-expected-result-div">
            <p><strong>Expected Result:</strong></p>
            <p>{{ step.expectedResult }}</p>
        </div>
        <div id="step-comment-div">
            <p><strong>Comments:</strong></p>
            <ng-container *ngIf="step.comment !== undefined">
                <p>{{ step.comment }}</p>
            </ng-container>
            <ng-container *ngIf="step.comment == undefined">
                <p>This step has no comment yet!</p>
            </ng-container>
        </div>
    </div>
</ng-container>
<app-edit-step [step]="step"></app-edit-step>
<ng-container *ngIf="!step">
        <div id="no-project-div">
            Please select an existing project!
        </div>
    </ng-container>
<div>
        <div class="modal fade" id="deleteStepModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-header-div">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Step</h5>
                            <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close" id="close-button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                
                
                            <form>
                                <div class="form-group">
                                        <label for="caseName">Are you sure?</label>
                                </div>
                                <button type="button" (click)="deleteStep()" id="delete-step-button" class="btn btn-primary">Delete</button>
                            </form>
                
                
                        </div>
                    </div>
                </div>
            </div>
    </div>
