<ng-container *ngIf="step">
    <div id="step-name-header-div">
        Step's order number: {{ step.orderNumber }}
        <div id="step-buttons-div">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCaseModal">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteCaseModal">Delete</button>
            </div>
        </div>
    </div>

    <div id="step-description-container-div">
        <div id="step-description-div">
            <p><strong>Description:</strong></p>
            <p>{{ step.description }}</p>
        </div>
        <div id="step-expected-result-div">
            <p><strong>Expected Result:</strong></p>
            <p>{{ step.expectedResult }}</p>
        </div>
        <div id="step-comment-div">
            <p><strong>Comments:</strong></p>
            <ng-container *ngIf="step.comment !== undefined">
                <p>{{ step.comment }}</p>
            </ng-container>
            <ng-container *ngIf="step.comment == undefined">
                <p>This step has no comment yet!</p>
            </ng-container>
        </div>
    </div>
</ng-container>
