<ng-container *ngIf="component">
    <div id="component-name-header-div">
        {{ component.name }}
        <div id="component-buttons-div">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editComponentModal">Edit</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteComponentModal">Delete</button>
            </div>
        </div>
    </div>

    <div id="component-description-container-div">
        <div id="component-description-div">
            <p><strong>Description:</strong></p>
            <p>{{ component.description }}</p>
        </div>
        <div id="component-author-div">
            <p><strong>Author:</strong></p>
            <p>{{ component.author }}</p>
        </div>
        <div id="component-version-div">
            <p><strong>Version:</strong></p>
            <p>{{ component.version }}</p>
        </div>
    </div>
    <div id="component-case-list-div">
        <button type="button" class="btn btn-primary">Add New Case</button>
        <p><strong>Cases</strong></p>
        <ng-container *ngIf="component.testCases.length > 0">
            <ng-container *ngFor="let case of component.testCases">
                <app-case-list-element [case]="case"></app-case-list-element>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="component.testCases.length == 0">
                <p><strong>This component does not have cases yet</strong></p>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="!component">
    <div id="no-project-div">
        Please select an existing project!
    </div>
</ng-container>
<app-edit-component [component]="component"></app-edit-component>
<div>
    <div class="modal fade" id="deleteComponentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="modal-header-div">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Component</h5>
                        <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close" id="close-button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
            
            
                        <form>
                            <div class="form-group">
                                    <label for="componentName">Are you sure?</label>
                            </div>
                            <button type="button" (click)="deleteComponent()" id="delete-component-button" class="btn btn-primary">Delete</button>
                        </form>
            
            
                    </div>
                </div>
            </div>
        </div>
</div>
